[Timer]
OnBootSec=0
OnUnitActiveSec=12h 15min

[Install]
WantedBy=timers.target
#systemctl enable 12h.timer --now #ln -s /usr/lib/systemd/system/12h.timer /etc/systemd/system/timers.target.wants/12h.timer && systemctl start 12h.timer
#systemctl disable 12h.timer --now
#systemctl list-timers
#/etc/systemd/system.conf
#[Manager]
#DefaultEnvironment=github=密码 password=密码
#systemctl daemon-reexec
#systemctl daemon-reload