[Service]
#ExecStart=/bin/curl -H authorization:token\s${github} -d {\"event_type\":\"12h\"} https://api.github.com/repos/chaowenguoorg00/pal/dispatches
ExecStart=/bin/curl -H authorization:token\s${github} -d {\"event_type\":\"12h\"} https://api.github.com/repos/bvttvborg/mime/dispatches
#ExecStart=/bin/curl -d token=7caeef9d658179255512b6ec7f775a&ref=main&variables[twelve]=true https://gitlab.com/api/v4/projects/36904390/trigger/pipeline                                                                                                                                                                                                                   
#http://www.jinbuguo.com/systemd/systemd.service.html#ExecStart=
#http://www.jinbuguo.com/systemd/systemd.service.html#%E5%91%BD%E4%BB%A4%E8%A1%8C
