[Service]
ExecStartPre=/bin/curl -H authorization:token\s${github} -d {\"event_type\":\"2h\"} https://api.github.com/repos/r1nnyorg/mime/dispatches
ExecStart=/usr/bin/node %h/browserstack.js $password
